:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(100%, 1000px);

  .list-container {
    border: lightgray solid 1px;
    width: 60%;
    display: flex;
    justify-content: center;

    .grid-title {
      padding-left: 20px;
    }

    .user-grid {
      @for $i from 1 through 7 {
        .grid-tile:nth-child(#{$i}) {
          a {
            text-decoration: none !important;
            animation: pop-up 500ms both;
            animation-delay: $i*50ms;

            .user-card {
              width: fit-content;
              padding: 0px;
              display: flex;
              flex-direction: column;
              align-items: center;
              cursor: pointer;
              transition: 200ms;

              &:hover {
                transform: scale(1.05);
              }

              .subtitle {
                display: flex;
                align-items: center;
                animation-delay: $i * 300ms;
                height: 3rem;
              }
            }
          }
        }
      }
    }
  }
}
